__pycache__
.pytest_cache
#binary files
main.build/

#PyCharm
.idea
.run
*.iml

#looper
save_song/*
!save_song/readme.txt
log.bak
log.txt
local.ini
pickled_drum_samples.pkl

#unused
rules.txt
kbdmap.txt
nohup.out




